.container-menu {
background-color: #313a73;
}
.container-menu .container-item{
  color: white !important;
}
.container-menu a{
  color: white !important;
  text-decoration: none;
}
.container-menu a:hover{
  color: white !important;
  text-decoration: none;
}
.title-section{
  color: #01A2A6;
  font-size: 40px;
  font-weight: 600;
  padding: 40px;
  text-align: center;
}

.logo img{
  width: 100%;
  padding: 15px;
}

.container-item .item{
display: flex;
justify-content: center;
align-items: center;
font-size: 18px;
font-weight: 600;

}

.container-item .item span{
cursor: pointer;
}

#carouselExampleIndicators{

}

.item-proyectos  .item-p{
  border-radius: 15px;
  background-color: #ffffff;
  padding: 0px;
  margin: 15px;
}

.item-proyectos .item-p:hover{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(146, 146, 146, 0.75);;
-moz-box-shadow: 0px 3px 5px 0px rgba(146, 146, 146, 0.75);;
box-shadow: 0px 3px 5px 0px rgba(146, 146, 146, 0.75);;
}


.item-p .imagen-p img{
  width: 100%;
}

.container-nosotros{
background-image: url(/diamante/assets/background2.jpg);
padding-top: 70px;
padding-bottom: 70px;
background-size: cover;
margin: 0 !important;
}
.container-nosotros .img-icon{
text-align: center;
}
.container-nosotros .subtitle{
  font-weight: 600;
font-size: 30px;
text-align: center;
margin-top: 15px;
color: #313a73;
}
.container-nosotros .text{
text-align: justify;
padding: 10px;
color: #01A2A6;
font-weight: 600;
}
.container-nosotros .img-icon img{
  width: 200px;
      height: 200px;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
}

.name-proyect{
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: gray;
  padding-top: 20px;
}
.name-city{
  color: gray;
  font-size: 13px;
  text-align: center;
}

.valor{
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  color: gray;
  padding: 14px;
}
.carateristicas{
  margin: 0px !important;
  background-color: #01A2A6;
  border-radius: 0px 0px 15px 15px;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-proyectos .item-p:hover .carateristicas{
background-color: #313a73;
}

.footer{
  color: white;
  background-color: #313a73;
  padding: 3%;

}
.footer .title{
  color: #01A2A6;
  font-size: 45px;
  font-weight: 600;
}

.footer .info{
  text-align: center;
}

.footer .row{
  justify-content: center;
}
