.font-sise-24{
    font-size: 24px;
}.font-sise-23{
    font-size: 23px;
}.font-sise-22{
    font-size: 22px;
}.font-sise-21{
    font-size: 21px;
}.font-sise-20{
    font-size: 20px;
}.font-sise-19{
    font-size: 19px;
}.font-sise-18{
    font-size: 18px;
}.font-sise-17{
    font-size: 17px;
}.font-sise-16{
    font-size: 16px;
}.font-sise-15{
    font-size: 15px;
}.font-sise-14{
    font-size: 14px;
}.font-sise-13{
    font-size: 13px;
}.font-sise-12{
    font-size: 12px;
}
